element.style {
}
#main {
    padding: 10px;
    color: #84c754;
}
user agent stylesheet
div {
    display: block;
}
body {
    font: 100% Courier New;
    margin: 20px;
    line-height: 26px;
    background-color: #000000;
}
title {
  color: #FFFFFF;
}
h1 {
  color: #FFFFFF;
}
h4 {
  color: #FFFFFF;
}
body {
  color: #00FF00;
}

a:link{
  color:green;
}
a:visited{
  color:green;
}
a:hover{
  color:red;
}
a:focus{
  color:red;
}
a:active{
  color:red;
}

form {
  border-radius: 5px;
  background-color: #7d7d7d;
  color: green;
  padding: 5px;
}

user agent stylesheet
html {
    color: -internal-root-color;
}
