:root {
    --background: #070707;
    --lighter-background: #1a1a1a;
    --lightest-background: #1f1f1f;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.txt-center {
    text-align: center;
}

body {
    background-color: var(--background);
    color: white;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    padding: 0px;
}

.a {
    color: orange;
    text-decoration: none;
    margin: 10px;
}

.a:hover {
    color: white;
}

.nav li {
    transition-property: transform;
    transition-duration: 0.3s;
}

.nav li:hover {
    transform: scale(1.1);
}

.a:active {
    color: orangered;
}

header, footer {
    background-color: var(--lighter-background);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    align-content: center;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 1.5em;
}

.nav {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.nav li {
    margin-right: 5px;
    margin-left: 5px;
}

main {
    min-height: calc(100vh - 217px);
    margin: 0 auto;
}

main article {
    background-color: var(--lightest-background);
    padding: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

/* CONTENT CSS */

.shakey {
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.sphere {
    background-color: #070707;
    position: absolute;
    border-radius: 4em;
    animation-name: hover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.63,.13,.32,.89);
}

.sphere2 {
    background-color: #070707;
    position: absolute;
    border-radius: 4em;
    animation-name: hover2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.63,.13,.32,.89);
}

@keyframes hover {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
}

@keyframes hover2 {
    0% { transform: translateY(-10px);}
    50% { transform: translateY(0px);}
    100% { transform: translateY(-10px);}
}

.section {
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.flexparent {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}

.flexchild {
    width: 150px;
    height: 200px;
    padding: 5px;
    transition-property: transform;
    transition-duration: 0.5s;
}

.flexchild:hover {
    width: 150px;
    height: 200px;
    padding: 5px;
    transform: scale(1.1);
}

.roundcorner {
    border-radius: 2em;
}